db.sqlite3
logs/*
.git/*
plantthing.code-workspace
.vscode/*
*.pyc
Vokvarinn/migrations/*
Vokvarinn/migrations/0001_initial.py
Vokvarinn/migrations/0001_initial.py
media/*
.idea/*

.idea/codeStyles/Project.xml
.idea/codeStyles/Project.xml
.idea/dbnavigator.xml
.idea/misc.xml
.idea/PlantThing.iml
.idea/workspace.xml
db.sqlite3
Vokvarinn/static/.DS_Store
Vokvarinn/static/vokvarinn/.DS_Store
Vokvarinn/static/vokvarinn/images/.DS_Store
.idea/codeStyles/Project.xml
.idea/dbnavigator.xml
.idea/misc.xml
.idea/PlantThing.iml
.idea/workspace.xml
db.sqlite3
