{% extends 'vokvarinn/base.html' %}
{% load smooth_timedelta %}
{% load render_table from django_tables2 %}
{% block content %}

<h1>All plants</h1>
<h4><a href="{% url 'plant_create_view' %}">Add new plant</a></h4>
{% if plant_list %}
<form method="POST"> {% csrf_token %}
    <table  class="table table-sm table-striped">
            <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last water</th>
            <th>Info link</th>
            <th>Image</th>
            <th>Water</th>
            <th>Edit</th>
        </tr>
        {% for plant in plant_list %}
        <tr>
            <td><a href="/plant/{{ plant.id }}">{{ plant.id }}</a></td>
            <td><a href="/plant/{{ plant.id }}">{{ plant.name }}</a></td>
            <td><a href="/plant/{{ plant.id }}">{{ plant.last_water|date:"d. M y - H:i" }}</a></td>
            <td><a href="{{ plant.info_url }}">{{ plant.info_url }}</a></td>
            <td><a href="/plant/{{ plant.id }}"><img width="300" height="300" src ="{{ plant.image }}">{{ plant.image }}</a></td>
            <td><form action="/plant/{{ plant.id }}/water"><input type="submit" Value="Water"></form></td>
            <td><a href="/plant/{{ plant.id }}/edit">edit</a></td>
        </tr>
        {% endfor %}
    </table>
</form>
{% else %}
    <p>No plants.</p>
{% endif %}
{% render_table planttable %}
{% endblock %}