{% extends 'vokvarinn/base.html' %}
{% block content %}



<div class="container-fluid">
	<table class="table plant-table">
		<thead>
			<th>Image</th>
			<th scope="col">Name</th>
	    <th scope="col">Last watered</th>
	    <th scope="col">Plant information</th>
	    <th scope="col">Watering schedule</th>
	    <th>Actions</th>
		</thead>
		<tbody>
			{% for item in table %}
				<tr>
					<td>
						<div class="crop">
							<img class="round-image" src="{{ item.image.url }}">
						</div>
					<td>
						{{ item.name }}
					</td>
					<td>
						<ul>
							<li>
						{{ item.last_water|date:"d. M y - H:i" }}
						{% for water in item.get_waterings %}
						    <li>{{ water.last_water|date:"d. M y - H:i" }}</li>
						{% endfor %}
							</li>
						</ul>
					</td>
					<td>
						<a href="{{ item.info_url }}">{{ item.info_url }}</a>
					</td>
					<td>
						{{ item.water_schedule }}
					</td>
					<td>
						<a class="btn btn-primary btn-sm" href="{% url 'plant_detail' item.pk %}" role="button">View</a>
						<a class="btn btn-primary btn-sm" href="{% url 'plant_edit_view' item.pk %}" role="button">Edit</a>
						<a class="btn btn-danger btn-sm" href="{% url 'plant_delete' item.pk %}" role="button">Delete</a>

					</td>
                    </tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
