{% extends 'vokvarinn/base.html' %}
{% block content %}
{% block extra_css %}
{{ plantform.media.css }}
{{ imageform.media.css }}
{% endblock %}

{% block extra_js %}
{{ plantform.media.js }}
{{ imageform.media.js }}
{% endblock %}
<form method="POST" enctype="multipart/form-data" action=""> {% csrf_token %}
 {{ plantform.as_p }}
 {{ imageform.as_p }}
    <input type="submit" value="Save" />
    <input class="button" type="button" onclick="window.location.replace('/')" value="Cancel" />
</form>


{% endblock %}