{% extends 'vokvarinn/base.html' %}
{% load smooth_timedelta %}
{% load render_table from django_tables2 %}
plant detail info<br>
{% block content %}
 <h3>{{ plant.name }}</h3>
<br>

<form method="POST" action='{{ action_url }}' enctype='multipart/form-data'> {% csrf_token %}
    {{ water_form.as_p }}
    <input class="btn btn-primary" type="submit" value="Water" />
</form>
<form action="/plant/{{ plant.id }}/edit"><input type="submit" Value="Edit" class="btn btn-secondary"></form>
<br>

Last water: {{  plant.last_water|date:"d. M y - H:i"  }}
<br>
Now: {{  time_now|date:"d. M y - H:i"  }}
<br>
Time diff: {{ time_since_water|smooth_timedelta }}
<br>
Image:
<br>
<img height="300" width="300" src ="{{ plant.image.url }}">
<br>
<h5>Image date {{ imgdate }}</h5>
<br>
{% render_table water_log %}
<br>

<ul>
    <h3>images</h3>
{% for images in plant_images %}
    <li>{{ plant_imagesimg }} <img height="300" width="300" src ="{{ plant_images.image }}"></li>
{% endfor %}
</ul>
{% endblock %}